body.sakumafons {
    background-image: url("bildes/labais3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  body.fons {
    background-image: url("bildes/labais3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  body.fons1 {
    background-image: url("bildes/labais3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  body.fons2 {
    background-image: url("bildes/labais3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }






  img.augstums {
    height: 200px;
  }
  





  body {
    text-align: center
  }








  table.frizs {
    border: 1px solid rgb(253, 251, 251);
    border-collapse: collapse;
  }
  th, td {
    background-color: #a9baba;
  }








  .lidzinat {
    margin: 3cm auto 3cm;
    width: 600px;
    text-align: center;
  }






  button {
    background-color: #9a9a9c;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }





div.gallery {
  margin: 5px;
  float: left;
  width: 190px;
}

div.gallery img {
  width: 100%;
  height: 150px;
}

div.desc {
  padding: 15px;
  text-align: center;
}





h2 {
  text-decoration: underline;
}




.p3 {
  font-family: "Times New Roman", Times, serif;
}