body.b222 {
    background-image: url("bildes/sakums.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  body.b333 {
    background-image: url("bildes/fons.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  body.b444 {
    background-image: url("bildes/fons.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  body.b555 {
    background-image: url("bildes/fons.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  img.augstums {
    height: 200px;
  }
  
  body {
    text-align: center
  }

  table.frizs {
    border: 1px solid rgb(253, 251, 251);
    border-collapse: collapse;
  }
  th, td {
    background-color: #a9baba;
  }

  .lidzinat {
    margin: 3cm auto 3cm;
    width: 600px;
    text-align: center;
  }