body.b222 {
    background-image: url("bildes/fons7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  body.b333 {
    background-image: url("bildes/fons7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  body.b444 {
    background-image: url("bildes/fons7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  body.b555 {
    background-image: url("bildes/fons7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  